/* custom variables*/
:root {
  --text-color: #222222;
  --nav-text-color: #485042;
  --bg-color: #e5e5e5;
  --announcement-color: #fcfea2;
  --footer-bg: #d8dede;
  --footer-color: #42716b;
  --swatch-color-1: #ffa877;
  --swatch-color-2: #ed7285;
  --swatch-color-3: #e1ae7f;
  --swatch-color-4: #02b4e3;

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "PTSerif", serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-9: 4rem;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* general styles */
body {
  font-size: var(--font-size-1);
  font-family: var(--ff-primary);
  color: var(--text-color);
}
p {
  max-width: 45ch;
}
.container {
  --max-width: 100vw;
  --padding: 0.5rem;
  width: min(var(--max-width), 100% - 2rem);
  margin-inline: auto;
  margin-bottom: 2rem;
}
.even-columns {
  display: grid;
  gap: 1rem;
}
@media (min-width: 50em) {
  .even-columns {
    grid-template-columns: 1fr 1fr;
  }
}
.uneven-columns {
  display: grid;
  gap: 1rem;
}
@media (min-width: 50em) {
  .uneven-columns {
    grid-template-columns: 1fr 3fr;
  }
}
.footer-columns {
  display: grid;
  gap: 1rem;
}
.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 50em) {
  .footer-columns {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

.announcement-bar {
  border-radius: 100vmax;
  background-color: var(--text-color);
  color: var(--announcement-color);
  padding-block: 0.5rem;
  text-align: center;
  margin: 0 var(--size-3) var(--size-5) var(--size-3);
  font-size: var(--font-size-0);
}
.hero-image-grid {
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-img";
}
.hero-image-grid-item {
  grid-area: inner-img;
}
.hero-text {
  padding: 8rem 2rem 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (min-width: 50em) {
  .hero-text {
    padding: 8rem 2rem 0 4rem;
  }
}
.hero-paragraph {
  margin-top: 1rem;
}
.cta {
  font-family: var(--ff-secondary);
  font-size: var(--font-size-4);
  text-decoration: none;
  color: var(--text-color);
  display: inline-flex;
  margin-top: var(--size-9);
}
.cta:hover {
  color: gray;
}
.cta::after {
  content: url("images/arrow.svg");
  margin-left: 1rem;
}
.cta:hover::after {
  content: url("images/arrow.svg");
  opacity: 0.6;
}
.star {
  height: 4rem;
  width: 4rem;
  margin-top: 4rem;
  align-self: flex-end;
}

/* navigation */
.primary-header {
  margin-top: var(--size-3);
  margin-bottom: var(--size-7);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  margin: 0 auto;
}
.nav-list {
  display: flex;
  gap: 2rem;
  position: relative;
}
.nav-list a {
  color: #222;
  text-decoration: none;
}
.nav-list a:hover,
.nav-list a:focus {
  color: grey;
}
.sub-nav-list {
  padding: 4rem 2rem 2rem 2rem;
  margin-top: -3rem;
}

.sub-menu-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(270px, 1fr));
}
ul li ul {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: -250px;
  display: none;
  border: #222222 solid 1px;
  border-radius: 1rem;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.display-sm-none {
  display: none;
}
@media (min-width: 50em) {
  .display-md {
    display: inline-flex;
  }
}
.extra-md-none {
  display: inline-flex;
}
@media (min-width: 50em) {
  .extra-sm {
    display: none;
  }
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: absolute;
    inset: 7rem 0.75rem auto;
    background-color: #fff;
    padding: 2rem;
  }
  .nav-list {
    display: grid;
    gap: 2rem;
  }

  .primary-navigation[data-visible] {
    display: block;
  }
  .secondary-navigation[data-visible] {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }
  .mobile-nav-toggle .hamburger-close {
    display: none;
  }
}
.menu-heading {
  font-family: var(--ff-secondary);
  font-size: var(--font-size-4);
}
.menu-heading::after {
  content: url("images/arrow.svg");
  margin-left: 1rem;
}
.menu-heading:hover::after,
.menu-heading:focus::after {
  content: url("images/arrow.svg");
  opacity: 0.6;
}
.menu-description {
  margin-top: var(--size-5);
}

/* gallery */
.gallery-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card > img {
  aspect-ratio: 2/3;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}
.card-margin {
  margin-left: 5px;
}
.card-anchor {
  text-decoration: none;
  color: var(--text-color);
}
.swatch-spacing {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.color-swatch {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  margin: 0 4px;
}
.color-swatch-1 {
  background-color: var(--swatch-color-1);
}
.color-swatch-2 {
  background-color: var(--swatch-color-2);
}
.color-swatch-3 {
  background-color: var(--swatch-color-3);
}
.color-swatch-4 {
  background-color: var(--swatch-color-4);
}
/* footer */
.footer {
  background-color: var(--footer-bg);
  color: var(--footer-color);
  padding-top: var(--size-7);
}
.footer-nav a {
  text-decoration: none;
  color: var(--footer-color);
}
.footer-nav a:is(:hover, :focus) {
  color: var(--nav-text-color);
}
.copyright {
  font-size: var(--font-size-0);
  padding: var(--size-3);
}
.logo {
  font-size: var(--font-size-6);
  text-decoration: none;
}
.footer-heading {
  font-family: var(--ff-secondary);
  font-size: var(--font-size-4);
}
.social-links {
  display: flex;
  width: 180px;
  margin-top: var(--size-4);
  justify-content: space-between;
}
.nav-social-links {
  display: flex;
  width: 250px;
  margin-top: var(--size-4);
  justify-content: space-between;
}
/* footer end*/

.fs-00 {
  font-size: var(--font-size-00);
}
.fs-0 {
  font-size: var(--font-size-0);
}
.fs-1 {
  font-size: var(--font-size-1);
}
.fs-2 {
  font-size: var(--font-size-2);
}
.fs-3 {
  font-size: var(--font-size-3);
  line-height: 1.1;
}
.fs-4 {
  font-size: var(--font-size-4);
}
.fs-5 {
  font-size: var(--font-size-5);
}
.fs-6 {
  font-size: var(--font-size-6);
}
.fs-7 {
  font-size: var(--font-size-7);
}
.fs-8 {
  font-size: var(--font-size-8);
  line-height: 1.1;
}
.fs-9 {
  font-size: var(--font-size-9);
  line-height: 1.1;
  font-weight: var(--fw-semi-bold);
}
